/* styles.css */

/* Default to light mode */
/* :root {
    --bs-body-bg: #ffffff;
    --bs-body-color: #000000;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-border-color: #dee2e6;
}

/* Dark mode overrides */
/* @media (prefers-color-scheme: dark) {
    :root {
        --bs-body-bg: #212529;
        --bs-body-color: #ffffff;
        --bs-primary: #0d6efd;
        --bs-secondary: #6c757d;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #f8f9fa;
        --bs-dark: #212529;
        --bs-border-color: #343a40;
    }
} */

body {
    /* background-color: var(--bs-body-bg); */
    /* color: var(--bs-body-color); */
    font-size: 12px;
}
/* 
.navbar, .nav-pills, .dropdown-menu {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.btn-primary {
    background-color: var(--bs-primary);
}

.badge {
    background-color: var(--bs-secondary);
    color: var(--bs-body-bg);
}

.list-group-item {
    background-color: var(--bs-light);
    color: var(--bs-body-color);
    border-color: var(--bs-border-color);
} */